DATABASE_URL=user:password@tcp(127.0.0.1:3306)/echo-boilerplate?charset=utf8mb4&parseTime=True&loc=Local
JWT_SECRET=super_secret_key

SESSION_KEY=session_key

LINK_ACTIVE_USER=http://localhost:8080/api/app/verify?session_id=
EMAIL=email_sendrid
PASS_APP_MAIL=pass_app_mail
SENDGRID_KEY=sendgrid_key
FROM_NAME_MAIL=name_email